#miapp {
    position: relative;
    min-height: 200vh;
  }
  
  main {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;            /* Footer height */
  }

.icon-color {
    background-color: #94536d !important;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,224,162,1) 70%);
  background-attachment: fixed;
}

#chat {
    overflow-y: auto;

}

#chat_container {
    overflow-y: auto;
    height: 500px;
}

#image_container {
  max-height: 500px;
  width: 90%;
}

